// Colors
$primary-color: #e74c3c;
$light-color: #fff;
$dark-color: #111;
$color-text: #898989;
$section-color: #f4f4f4;
// Padding
$primary-size: 25px;
$main-padding: $primary-size;
$padding-1: 10px;
$padding-2: 20px;
$padding-5: 50px;
// Margin
$main-margin: $primary-size;
$margin-1: 10px;
$margin-2: 20px;
$margin-5: 50px;
// Fonts
$font-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-bold: 700;
$font-light: 300;
// Size
$font-size-text: 13px;
$font-size-title: 20px;
$font-size-icon: 25px;
$font-size-section-title: 48px;
// Transitions
$main-transition: 0.3s ease-in-out;
// Box Shadow
$main-shadow: 0 0 3px $color-text;
// $main-shadow: 0 0 3px $section-color;
// Height
$primary-height: 120px;
// Gap Spacing
$main-spacing: 15px;
// Letter Spacing
$space-2: 2px;
$space-3: 3px;
// Line Height
$line-2: 2;
$line-3: 3;
