@mixin flex-content($content, $align) {
  display: flex;
  justify-content: $content;
  align-items: $align;
}

@mixin grid-content($columns, $spacing) {
  display: flex;
  grid-template-columns: $columns;
  gap: $spacing;
}

@mixin responsiveScreen($screen) {
  @if ($screen == mobile) {
    @media (max-width: 768px) {
      @content;
    }
  } @else if($screen == small) {
    @media (min-width: 768px) {
      // and (max-width: 991px) {
      @content;
    }
  } @else if($screen == large) {
    @media (min-width: 992) and (max-width: 1199px) {
      @content;
    }
  }
}
